<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/wangEditor.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/pureEditor.js"></script>
</head>
<body>
	<span>pureEditor</span>
	<div id="txt">
		
	</div>
	<script>
		var editor = new pureEditor("#txt");
		editor.create();
	</script>
</body>
</html>
