body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pureEditor-container{
	border:1px solid #999;
}
.pureEditor-txt{
	outline: none;
	padding: 2px;
}