html,body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  height: 100%;
}
a {
  color: #00B7FF;
}
.mian-container{
  height: 100%;
  width:100%;
  position:relative;
}
.left-toolbar{
  height: 100%;
  background-color: #3091f2;
  width:200px;
}